.projetos {
    width: 90%;
    margin-bottom: 20%;
}

    .projetos h2 {
        font-size: 1em !important;
    }

    .projetos ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 18px;
        list-style: none;
        width: 100%;
    }

        .projetos ul li img {
            background-color: #fff;
            width: 100%;
            height: 200px;
            border-radius: 10px;
            object-fit: contain;
        }

        .projetos ul li img {
            width: 100%;
            /* height: 300px; */
            border-radius: 10px;
        }

.conteudo-galeria span {
    margin-left: auto;
    right: 0;
}


.projetos ul li {
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .projetos ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1225px) {
    .projetos ul .logo-safishare img {
        padding: 50px;
        padding-top: 0;
    }
}
