* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    width: 1440px;
    left: 0px;
    top: 0px;
}

body {
    background: #1F1F1F;
    color: #FFF;
    font: 400 14px Raleway, sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

.fonte-roxa {
    color: #9045F0;
}

.linha-horizontal {
    color: #fff;
    top: 99vh;
    width: 100vw;
    border: 1px solid #fff;
    position: absolute;
}

.image-gallery-icon {
    color: #fff;
    transition: all .2s ease-out;
    appearance: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    position: absolute;
    z-index: 4;
    filter: drop-shadow(0 2px 2px #1a1a1a);
}

@media (min-width: 768px) {
    .image-gallery-icon:hover {
        color: #337ab7;
    }

        .image-gallery-icon:hover .image-gallery-svg {
            transform: scale(1.1);
        }
}

.image-gallery-fullscreen-button {
    right: 0;
}

.image-gallery-play-button {
    left: 0;
}

.image-gallery-left-nav,
.image-gallery-right-nav {
    padding: 50px 10px;
    top: 50%;
    transform: translateY(-50%);
}

    .image-gallery-left-nav .image-gallery-svg,
    .image-gallery-right-nav .image-gallery-svg {
        height: 120px;
        width: 60px;
    }

@media (max-width: 768px) {
    .image-gallery-left-nav .image-gallery-svg,
    .image-gallery-right-nav .image-gallery-svg {
        height: 72px;
        width: 36px;
    }
}

@media (max-width: 480px) {
    .image-gallery-left-nav .image-gallery-svg,
    .image-gallery-right-nav .image-gallery-svg {
        height: 48px;
        width: 24px;
    }
}

.image-gallery-left-nav[disabled],
.image-gallery-right-nav[disabled] {
    cursor: disabled;
    opacity: .6;
    pointer-events: none;
}

.image-gallery-left-nav {
    left: 0;
}

.image-gallery-right-nav {
    right: 0;
}

.image-gallery {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

    .image-gallery.fullscreen-modal {
        background: #000;
        bottom: 0;
        height: 100%;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 5;
    }

        .image-gallery.fullscreen-modal .image-gallery-content {
            top: 50%;
            transform: translateY(-50%);
        }

.image-gallery-content {
    position: relative;
    line-height: 0;
    top: 0;
}

    .image-gallery-content.fullscreen {
        background: #000;
    }

    .image-gallery-content .image-gallery-slide .image-gallery-image {
        max-height: calc(100vh - 80px);
    }

    .image-gallery-content.left .image-gallery-slide .image-gallery-image, .image-gallery-content.right .image-gallery-slide .image-gallery-image {
        max-height: 100vh;
    }

.image-gallery-slide-wrapper {
    position: relative;
}

    .image-gallery-slide-wrapper.left, .image-gallery-slide-wrapper.right {
        display: inline-block;
        width: calc(100% - 110px);
    }

@media (max-width: 768px) {
    .image-gallery-slide-wrapper.left, .image-gallery-slide-wrapper.right {
        width: calc(100% - 87px);
    }
}

.image-gallery-slide-wrapper.image-gallery-rtl {
    direction: rtl;
}

.image-gallery-slides {
    line-height: 0;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    text-align: center;
}

.image-gallery-slide {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

    .image-gallery-slide.center {
        position: relative;
    }

    .image-gallery-slide .image-gallery-image {
        width: 100%;
        object-fit: contain;
    }

    .image-gallery-slide .image-gallery-description {
        background: rgba(0, 0, 0, 0.4);
        bottom: 70px;
        color: #fff;
        left: 0;
        line-height: 1;
        padding: 10px 20px;
        position: absolute;
        white-space: normal;
    }

@media (max-width: 768px) {
    .image-gallery-slide .image-gallery-description {
        bottom: 45px;
        font-size: .8em;
        padding: 8px 15px;
    }
}

.image-gallery-bullets {
    bottom: 20px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 80%;
    z-index: 4;
}

    .image-gallery-bullets .image-gallery-bullets-container {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .image-gallery-bullets .image-gallery-bullet {
        appearance: none;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 50%;
        box-shadow: 0 1px 0 #1a1a1a;
        cursor: pointer;
        display: inline-block;
        margin: 0 5px;
        outline: none;
        padding: 5px;
        transition: background .2s ease-out;
    }

@media (max-width: 768px) {
    .image-gallery-bullets .image-gallery-bullet {
        margin: 0 3px;
        padding: 3px;
    }
}

@media (max-width: 480px) {
    .image-gallery-bullets .image-gallery-bullet {
        padding: 2.7px;
    }
}

.image-gallery-bullets .image-gallery-bullet:focus, .image-gallery-bullets .image-gallery-bullet:hover {
    background: #337ab7;
    transform: scale(1.1);
}

.image-gallery-bullets .image-gallery-bullet.active {
    background: #fff;
}

.image-gallery-thumbnails-wrapper {
    position: relative;
}

    .image-gallery-thumbnails-wrapper.thumbnails-wrapper-rtl {
        direction: rtl;
    }

    .image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right {
        display: inline-block;
        vertical-align: top;
        width: 100px;
    }

@media (max-width: 768px) {
    .image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right {
        width: 81px;
    }
}

.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails {
    height: 100%;
    width: 100%;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
}

    .image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails .image-gallery-thumbnail, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail {
        display: block;
        margin-right: 0;
        padding: 0;
    }

        .image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails .image-gallery-thumbnail + .image-gallery-thumbnail, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail + .image-gallery-thumbnail {
            margin-left: 0;
            margin-top: 2px;
        }

.image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right {
    margin: 0 5px;
}

@media (max-width: 768px) {
    .image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right {
        margin: 0 3px;
    }
}

.image-gallery-thumbnails {
    overflow: hidden;
    padding: 5px 0;
}

@media (max-width: 768px) {
    .image-gallery-thumbnails {
        padding: 3px 0;
    }
}

.image-gallery-thumbnails .image-gallery-thumbnails-container {
    cursor: pointer;
    text-align: center;
    transition: transform .45s ease-out;
    white-space: nowrap;
}

.image-gallery-thumbnail {
    display: inline-block;
    border: 4px solid transparent;
    transition: border .3s ease-out;
    width: 100px;
    background: transparent;
    padding: 0;
}

@media (max-width: 768px) {
    .image-gallery-thumbnail {
        border: 3px solid transparent;
        width: 81px;
    }
}

.image-gallery-thumbnail + .image-gallery-thumbnail {
    margin-left: 2px;
}

.image-gallery-thumbnail .image-gallery-thumbnail-inner {
    position: relative;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
    vertical-align: middle;
    width: 100%;
    line-height: 0;
}

.image-gallery-thumbnail.active, .image-gallery-thumbnail:hover, .image-gallery-thumbnail:focus {
    outline: none;
    border: 4px solid #337ab7;
}

@media (max-width: 768px) {
    .image-gallery-thumbnail.active, .image-gallery-thumbnail:hover, .image-gallery-thumbnail:focus {
        border: 3px solid #337ab7;
    }
}

.image-gallery-thumbnail-label {
    box-sizing: border-box;
    color: white;
    font-size: 1em;
    left: 0;
    line-height: 1em;
    padding: 5%;
    position: absolute;
    top: 50%;
    text-shadow: 1px 1px 0 black;
    transform: translateY(-50%);
    white-space: normal;
    width: 100%;
}

@media (max-width: 768px) {
    .image-gallery-thumbnail-label {
        font-size: .8em;
        line-height: .8em;
    }
}

.image-gallery-index {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    line-height: 1;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
}

@media (max-width: 768px) {
    .image-gallery-index {
        font-size: .8em;
        padding: 5px 10px;
    }
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .container section {
        height: 100%;
        /* border: 1px solid #fff; */
    }

        .container section.menu {
            width: 35%;
            position: fixed;
            top: 0;
            left: 0;
            margin-top: 15%;
        }

        .container section.paginas {
            width: 65%;
            position: fixed;
            top: 0;
            left: 35%;
            overflow-y: auto;
            height: 90%;
            overflow-x: hidden;
            /* background-color: red; */
        }
.barra-lateral {
    position: fixed;
    width: 0px;
    height: 70%;
    top: 16%;
    border: 2px solid #9045F0;
}

.conteudo {
    /* background-color: blue; */
    color: #fff;
    width: 70%;
    height: 50%;
    position: relative;
    font-size: 2em;
    text-align: left;
    margin: 80% auto;
}

    .conteudo h2 {
        margin-top: 0;
        text-align: center;
        /* display: none; */
        color: #9045F0;
        margin-bottom: 1em;
        font-size: 2em;
    }

@media only screen and (max-width: 320px) {
    .container section.menu {
        /* background-color: yellow; */
    }
}

@media only screen and (min-width: 721px) {
    .conteudo {
        margin: 60% auto;
        font-size: 4em;
    }
}

@media only screen and (min-width: 768px) {
    .conteudo {
        margin: 20% auto;
    }

    .container section.menu {
        max-width: 250px;
        margin-top: 5%;
        margin-left: 5%;
    }
}

@media only screen and (min-width: 1225px) {
    .container section.paginas {
        width: 80%;
        left: 25%;
    }
}

.imgPerfil {
    display: flex;
    justify-content: center;
    margin: auto;
}

.menu-lateral .imgPerfil img {
    border-radius: 50%;
    width: 96px;
    height: 96px;
}

.titulo-perfil {
    font-size: 1em;
    line-height: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .titulo-perfil span.nome {
        font-size: 2em;
        line-height: 1.2em;
    }

.menu-lateral .icones {
    width: 100%;
    /* background-color: red; */
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

    .menu-lateral .icones ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        line-height: 48px;
        list-style: none;
        margin-top: 15%;
        width: 100%;
        text-align: center;
    }

.menu-lateral nav {
    width: 80%;
    margin-left: 10%;
    position: absolute;
    bottom: 15%;
    /* margin-top: 40%; */
}

    .menu-lateral nav ul li {
        display: inline;
    }

        .menu-lateral nav ul li a {
            color: #FFF;
            text-decoration: none;
            margin-left: 5%;
        }

            .menu-lateral nav ul li a span {
                display: none;
            }

            .menu-lateral nav ul li a:hover,
            .menu-lateral nav ul li a .icon:hover {
                color: #9045F0 !important;
            }

@media only screen and (max-width: 320px) {
    .menu-lateral .icones ul {
        grid-template-columns: repeat(3, 1fr);
    }

        .menu-lateral .icones ul li .icon {
            width: 18px;
            height: 18px;
        }

    .menu-lateral nav ul li .icon {
        width: 18px;
        height: 18px;
    }
}

@media only screen and (min-width: 721px) {
    .menu-lateral nav {
        margin-left: 0;
    }

    .menu-lateral .icones ul {
        grid-template-columns: repeat(3, 1fr);
    }

        .menu-lateral .icones ul li .icon {
            width: 60px;
            height: 60px;
        }
}

@media only screen and (min-width: 768px) {

    .titulo-perfil {
        font-size: 2em;
        line-height: 1.2em;
    }

    .menu-lateral .icones ul li .icon {
        width: 32px;
        height: 32px;
    }

    .menu-lateral nav ul li .icon {
        width: 32px;
        height: 32px;
    }

    .menu-lateral nav {
        width: 90%;
        margin-left: 5%;
    }

        .menu-lateral nav ul li a span {
            display: inline-flex;
            font-size: 2em;
            width: 70%;
        }
}

@media (max-height: 680px) {
    .menu-lateral nav ul li a {
        color: #FFF;
        text-decoration: none;
        margin-left: 5%;
    }

        .menu-lateral nav ul li a span {
            display: none;
        }
}

@media(max-height: 580px) {
    .menu-lateral .icones {
        margin-top: 0;
    }
}
